.footer-container {
	width: 100%;
}

.footer-menu-container {
	margin-top: 44px;
}

.footer-menu-container:not(:last-child) {
	margin-top: 24px;
}

.copyright {
	margin-top: 24px;
	float: right;
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-bottom: 64px;
}

.copyright .group-icons {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin-top: 24px;
}

.footer-backed {
	margin-bottom: 68px;
	clear: both;
}

.footer-backed__label {
	border-radius: 6px;
	border: 1px solid #e4e4e7;
	text-align: center;
	flex-grow: 0;
}

.footer-backed__label__text {
	color: #8d8c97;
	padding: 8px !important;
}

.divider {
	height: 1px;
	flex: 1;
	background-color: #e4e4e7;
}

.backed-list {
	flex-direction: row;
	gap: 48px;
}

.backed-list img {
	width: calc(calc(100vw - 96px - 32px) / 3);
}

@media (min-width: 769px) {
	.footer-container {
		max-width: 792px;
	}
}

@media (min-width: 441px) and (max-width: 769px) {
	.footer-container {
		max-width: 664px;
	}
}

@media (max-width: 440px) {
	.footer-container {
		max-width: 343px;
	}
	.copyright {
		clear: both;
		align-items: center;
		width: 100%;
	}
	.backed-list {
		flex-direction: column;
	}

	.backed-list img {
		width: 80%;
	}
}
